.groupitems {
  &__container-groups {
    margin-bottom: 1rem;
  }

  &__group {
    margin-right: 1rem;
    background-color: @item-color;
    color: @item-color-inverted;

    &.is-visited {
      background-color: @visited;
      color: @visited-inverted;
    }

    &.is-active {
      background-color: @item-color-selected;
      color: @item-color-inverted-selected;
    }

    & > * {
      pointer-events: none;
    }
  }

  &__container-items {
    display: none;
    flex-direction: column;

    &.is-active {
      display: flex;
    }
  }

  &__item {
    margin-right: 1rem;
  }

  @media (min-width: @device-width-large) {
    &__container-items {
      flex-direction: row;
    }
  }
}
